<%= render "shared/top_navbar" %>
<div class="container">

	<div class="dashboard-search">
		<p>Hello <%= current_user.email %></p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</div>

	<div class="dashboard-courses-container">
		<div class="dashboard-courses">
			<h1>Current Courses</h1>
			<% unless @current_courses.empty? %>
				<% @current_courses.each do |course| %>
					<div class="dashboard-courses-image">
						<img src=<%=course.course_img_url%>>
					</div>
					<div class="dashboard-courses-description">
						<%= link_to "#{course.short_title}", course.course_url %>
						<p><%=course.school.name%></p>
					</div>
					<div class="dashboard-courses-date">
            <span class="date-display">Start Date: <%=course.start_date%></span>
					</div>
				<% end %>
			<% else %>
				<p><%= "You aren't registered for any classes yet!"%></p>
			<% end %>
		</div>

		<div class="dashboard-courses">
			<h1>Starred Courses</h1>
			<% unless @starred_courses.empty? %>
				<% @starred_courses.each do |starred| %>
					<div class="dashboard-courses-image">
						<img src=<%=Course.find(starred.course_id).course_img_url%>>
					</div>
					<div class="dashboard-courses-description">
						<%= link_to "#{Course.find(starred.course_id).short_title}", Course.find(starred.course_id).course_url %>
						<p><%=Course.find(starred.course_id).school.name%></p>
					</div>
					<div class="dashboard-courses-date">
            <span class="date-display">Start Date: <%=Course.find(starred.course_id).start_date%></span>
					</div>
				<% end %>
			<% else %>
				<p><%= "You aren't starred any classes yet!"%></p>
			<% end %>
		</div>

		<div class="dashboard-courses">
			<h1>Completed Courses</h1>
			<% unless @starred_courses.empty? %>
				<% @starred_courses.each do |completed| %>
					<div class="dashboard-courses-image">
						<img src=<%=Course.find(completed.course_id).course_img_url%>>
					</div>
					<div class="dashboard-courses-description">
						<%= link_to "#{Course.find(completed.course_id).short_title}", Course.find(completed.course_id).course_url %>
						<p><%=Course.find(completed.course_id).school.name%></p>
					</div>
					<div class="dashboard-courses-date">
            <span class="date-display">Start Date: <%=Course.find(completed.course_id).start_date%></span>
					</div>
				<% end %>
			<% else %>
				<p><%= "You haven't completed any classes yet!"%></p>
			<% end %>
		</div>

	</div>
</div>
