<%= render "shared/top_navbar" %>


<div class="container">
	<div class="courses-container">

			<div class="current-courses">
				<div class="dashboard-search">
					<p>Hello <%= current_user.email %></p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :name => nil %>
				</div>
				<h1>Current Courses</h1>
				<% unless @current_courses.empty? %>
					<% @current_courses.each do |course| %>
						<p><%=course.title%></p>
						<p><%=course.school.name%></p>
						<p><%=course.start_date%></p>
						<p><%=course.end_date%></p>
						<img class="current-courses-image" src=<%=course.course_img_url%>>
						<% end %>
					<% else %>
						<p><%= "You aren't registered for any classes yet!"%></p>
				<% end %>
			</div>

			<div class="starred-courses">
				<h1>Starred Courses</h1>
					<ul class="starred-courses-list">
						<% unless @starred_courses.empty? %>
							<% @starred_courses.each do |starred| %>
								<p><%= Course.find(starred.course_id).title%></p>
							<% end %>
						<% else %>
							<p><%= "You haven't starred any courses yet!" %></p>
					</ul>
				<% end %>
			</div>

		<div class="completed-courses">
			<h1>Completed Courses</h1>
				<ul class="completed-courses-list">
					<% unless @completed_courses.empty? %>
						<% @completed_courses.each do |completed| %>
							<p><%= Course.find(completed.course_id).title%></p>
							<% end %>
						<% else %>
							<p><%= "You haven't completed any courses yet!" %></p>
				</ul>
			<% end %>
		</div>

	</div>
</div>
