<div class="nav-bar">
  <nav class="nav">
    <ul>
      <li>Edufyme</li>
      <li>Login</li>
      <li>School</li>
      <li>Category</li>
    </ul>
  </nav>
</div>

<div class="featured-courses-title">
  <h4>Featured Courses</h4>
</div>

<div class="courses-container">
    <div class="course-image" id="box-1">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image" id="box-2">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image" id="box-3">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image"id="box-4">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image"id="box-5">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image"id="box-6">
      <div class="course-description">
      </div>
    </div>
</div>

<div class="hidden">
  <% @courses.map do |course| %>
    <%=course.course_img_url%>
    <p><%= link_to "course.title", course.course_url %></p>
    <p><%= course.description %></p>
    <p><%= course.start_date %></p>
    <p><%= course.end_date %></p>
  <% end %>
</div>