<%= render "shared/top_navbar" %>
<div class="container">
  <div class="featured-courses-title">
    <h3>Featured Courses</h3>
  </div>

  <div class="courses-container">
    <% @courses.map do |course| %>
    <div class="course">
      <div class="course-image">
        <img src=<%=course.course_img_url%>>
        <div class="course-description">
          <%= link_to "#{course.short_title}", course.course_url %>
          <p><%=course.school.name%></p>
          <div class="course-date">
            <span class="date-display">Start Date: <%=course.start_date%></span>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>


  <div class="overlay">
  </div>
  <div class ="modal">
    <button class="exit-modal">X</button>
  </div>
</div>