<% if user_signed_in? %>
  <div id="current-user-id" display="hidden" data-user-id=<%= current_user.id %>>
  </div>
  <div id="current-user-added-classes" display="hidden" data-added-course-ids="<%= current_user.courses.map {|course| course.id} %>">
  </div>
  <% favorited_array = [] %>
  <% course_user = CourseUser.find_all_by_user_id(current_user.id) %>
  <% course_user.each {|cu| favorited_array << cu.course_id if cu.favorited == true} %>
  <div id="current-user-favorited-classes" display="hidden" data-favorited-course-ids="<%= favorited_array %>">
  </div>
<% end %>
<%= render "shared/top_navbar" %>
<div class="container">
  <div class="featured-courses-title">
    <h3>Featured Courses</h3>
  </div>
  <div class="courses-container">
    <% @courses.map do |course| %>
    <div class="course" data-course-id=<%= course.id %>>
      <div class="course-image">
        <img src=<%=course.course_img_url%> alt="Course Image">
        <div class="course-description">
          <%= link_to "#{course.short_title}", course.course_url %>
          <p><%= course.school.name %></p>
          <div class="course-date">
            <span class="date-display">
              <% if course.start_date.nil? %>
                Start Date: TBD
              <% else %>
                Start Date: <%=course.start_date%>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>

  <div class="overlay">
  </div>
  <div class="modal">
    <div class="overlay-course-main">
      <h4 class="overlay-course-title"></h4>
      <img src="" alt="Course Image">
      <p><a href=""></a></p>
      <p class="overlay-course-description"></p>
    </div>
    <div class="overlay-course-sidebar">
      <!-- <button class="exit-modal">X</button> -->
      <button class="overlay-remove-course">Remove Course</button>
      <button class="overlay-add-course">Add Course</button>
      <button class="favorite-course" disabled="disabled">Favorite Course</button>
      <button class="unfavorite-course">Unfavorite Course</button>
      <div class="overlay-ratings">
        <p></p>
      </div>
      <div class="overlay-prerequisites">
        <p></p>
      </div>
      <div class="overlay-teacher">
        <img src="">
        <p class="overlay-teacher-bio"></p>
      </div>
    </div>
  </div>
</div>

<!--  link_to "Login", new_user_session_path, class: "login-link" -->

<!-- <div id="loginmodal" style="display:none;">
  <h1>User Login</h1>
  <form id="loginform" name="loginform" method="post" action="/users/sign_in">
    <label for="email">Username:</label>
    <input type="text" name="email" id="email" class="txtfield" tabindex="1">

    <label for="password">Password:</label>
    <input type="password" 1name="password" id="password" class="txtfield" tabindex="2">

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In" tabindex="3"></div>
  </form>
</div> -->

<div id="loginmodal" style="display:none;">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1>User Login</h1>
  <%= form_for(:user, :url => session_path(:user), html: {id: "loginform"}) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, class: "txtfield" %>
    <%= f.label :password %>
    <%= f.password_field :password, class: "txtfield" %>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %><br /><br />
    <%= f.submit 'Sign in' %><br /><br />
    <%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>
</div>

<div id="signupmodal" style="display:none;">
  <h1>Sign Up</h1>
<%= form_for(:user, :url => registration_path(:user), html: {id: "signupform"}) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, class: "txtfield" %>
  <%= f.label :password %>
  <%= f.password_field :password, class: "txtfield" %>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: "txtfield" %>
  <%= f.label :remember_me %>
  <%= f.check_box :remember_me %><br /><br />
  <%= f.submit 'Sign Up' %><br /><br />
<% end %>
</div>

<div id="load-ajax"><img src="images/ajax-loader.gif"></div>

<div class='hidden'>
  <div class="course-template" data-course-id="">
      <div class="course-image">
        <img src="" alt="Course Image">
        <div class="course-description">
          <a href=""></a>
          <p></p>
          <div class="course-date">
            <span class="date-display"></span>
          </div>
        </div>
      </div>
    </div>
</div>
